<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="w-100 h-100 d-grid">
    <div th:replace="fragments :: main-nav"></div>
    <div class="container" style="margin-top:58px;">
        <div class="w-50 mx-auto">
            <div th:replace="fragments :: about"></div>
            <hr />
            <div class="py-5">
                <div th:replace="fragments :: blog-menu (curMenu='post')"></div>
            </div>
            <div>
                <div th:if="${post.isWriterAndDisclosure(#authentication.principal, post.disclosure)}" class="py-5 border-bottom" th:each="post : ${postList}">
                    <a class="d-inline-block text-dark" th:href="@{'/blog/' + ${post.writer.userId} + '/view/' + ${post.url}}">
                        <h3 class="mb-4" th:text="${post.title}"></h3>
                    </a>
                    <p class="mb-3" th:text="${post.description}"></p>
                    <div class="mb-1">
                        <span class="badge rounded-pill bg-dark me-2" th:each="editorTag : ${post.editorTags}">
                            <a th:text="${editorTag.tag.value}"></a>
                        </span>
                    </div>
                    <div>
                        <span class="before-time fs-7 text-muted" th:text="${post.publishedTime}"></span> ⋅
                        <span class="fs-7 text-muted">댓글 <b>0</b>개</span> ⋅
                        <span class="fs-7 text-muted">♥ <b th:text="${post.likes.size}">0</b></span>
                        <span th:if="${!post.disclosure}">
                            ⋅
                            <span class="fs-7 badge bg-dark">
                                <i class="fa fa-lock pe-1" aria-hidden="true"></i> 비공개
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:replace="fragments :: change-time-ago"></script>
</html>