<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="w-100 h-100 d-grid">
    <div th:replace="fragments :: main-nav"></div>
    <div class="container">
        <div class="w-768 mx-auto">
            <div style="margin-top:120px">
                <label class="series-label">시리즈</label>
                <h1 class="border-bottom" th:text="${series.title}" style="margin-top:1.5rem; padding-bottom:3rem"></h1>
            </div>
            <div>
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex" th:if="${accountInfo.isWriter(#authentication.principal)}">
                        <a th:href="@{'/blog/' + ${account.id} + '/series/' + ${series.id} + '/update'}"
                           class="btn btn-sm text-muted">수정</a>
                        <a class="btn btn-sm text-muted" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</a>
                    </div>
                    <select class="form-select mt-2" style="width:120px">
                        <option value="desc">오름차순</option>
                        <option value="asc">내림차순</option>
                    </select>
                </div>
                <div th:if="${postList.size == 0}">시리즈가 없습니다.</div>
                <div style="margin-top:80px" th:if="${postList.size > 0}">
                    <div class="mb-5" th:each="post, postStat : ${postList}">
                        <h4 class="mb-3">
                            <a class="text-dark underline" th:href="@{'/blog/' + ${accountInfo.id} + '/view/' + ${post.url}}">
                                <span class="fs-2 text-muted fst-italic"><span th:text="${postStat.count}"></span>.</span>
                                <span th:text="${post.title}"></span>
                            </a>
                        </h4>
                        <section class="d-flex" style="height:6.25rem">
                            <a class="text-dark" th:if="${#strings.isEmpty(post.thumbnail)}" th:href="@{'/blog/' + ${accountInfo.id} + '/view/' + ${post.url}}">
                                <div class="d-flex justify-content-center align-items-center" style="width:12rem; height:6.25rem; background-color:#e5e9f0">
                                    <i class="fa fa-picture-o fs-3" aria-hidden="true"></i>
                                </div>
                            </a>
                            <a th:if="${!#strings.isEmpty(post.thumbnail)}" class="d-block" th:href="@{'/blog/' + ${account.id} + '/view/' + ${post.url}}"
                               style="width:12rem; height:6.25rem; object-fit: cover;">
                                <img class="w-100 h-100" th:src="${post.thumbnail}" alt="thumbnail" />
                            </a>
                            <div class="post-info">
                                <div th:if="${!#strings.isEmpty(post.description)}">
                                    <p th:text="${post.description}"></p>
                                </div>
                                <div th:if="${#strings.isEmpty(post.description)}">
                                    <p th:utext="${post.mainText}"></p>
                                </div>
                                <p class="before-time fs-7 fw-light" th:text="${post.publishedTime}"></p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">시리즈 삭제</h5>
            </div>
            <div class="modal-body">
                <p class="fw-light">시리즈를 삭제하겠습니까?</p>
                <p class="fw-light">시리즈 안에 들어있는 게시글은 삭제되지 않습니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">닫기</button>
                <form th:action="@{'/blog/' + ${account.id} + '/series/' + ${series.id} + '/delete'}" method="post">
                    <button type="submit" class="btn btn-dark">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script th:replace="fragments :: change-time-ago"></script>
</html>