<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="w-100 h-100 d-grid">
    <div th:replace="fragments :: main-nav"></div>
    <div class="container">
        <div class="w-768 mx-auto">
            <div th:replace="fragments :: about"></div>
            <hr />
            <div th:replace="fragments :: follow"></div>
            <div class="py-5">
                <div th:replace="fragments :: blog-menu (curMenu='series')"></div>
            </div>
            <div class="position-relative">
                <div th:if="${seriesList.size == 0}">시리즈가 없습니다.</div>
                <div class="div-series" th:if="${seriesList.size > 0}">
                    <div th:each="series : ${seriesList}">
                        <div class="mb-3" th:if="${series.thumbnailImage == null}">
                            <a th:href="@{'/blog/' + ${series.accountId} + '/series/' + ${series.seriesId}}" class="d-block">
                                <div class="series-no-image">
                                   <div style="width:36px;">
                                       <img class="w-100 h-100" th:src="@{/images/series-icon.png}" alt="썸네일">
                                   </div>
                                </div>
                            </a>
                        </div>
                        <div class="mb-3" th:if="${series.thumbnailImage != null}">
                            <a th:href="@{'/blog/' + ${series.accountId} + '/series/' + ${series.seriesId}}" class="d-block">
                                <div style="width:100%; height:193px">
                                    <img class="w-100 h-100" th:src="${series.thumbnailImage}" alt="썸네일">
                                </div>
                            </a>
                        </div>
                        <h5 class="fs-6">
                            <a th:href="@{'/blog/' + ${series.accountId} + '/series/' + ${series.seriesId}}"
                               class="text-dark" th:text="${series.title}"></a>
                        </h5>
                        <div class="fs-7">
                            <span>
                                <span th:text="${series.count}"></span>
                                개의 포스트
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:replace="fragments :: ajax-csrf-header"></script>
<script th:replace="fragments :: ajax-follow"></script>
</body>
</html>