<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="w-100 h-100 d-grid">
    <div th:replace="fragments :: main-nav"></div>
    <div class="container">
        <div class="w-768 mx-auto">
            <div style="margin-top:120px">
                <label class="series-label">시리즈</label>
                <h1 class="border-bottom" th:text="${series.title}" style="margin-top:1.5rem; padding-bottom:3rem"></h1>
            </div>
            <div>
                <div class="d-flex flex-column align-items-end">
                    <div class="d-flex" th:if="${accountInfo.isWriter(#authentication.principal)}">
                        <a th:href="@{'/blog/' + ${account.id} + '/series/' + ${series.id} + '/update'}"
                           class="btn btn-sm text-muted">수정</a>
                        <a class="btn btn-sm text-muted" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</a>
                    </div>
                    <select name="sort" th:attr="hx-get='/blog/' + ${account.id} + '/series/' + ${series.id} + '/sort'"
                            hx-trigger="change" hx-target="#postList" hx-swap="outerHTML"
                            class="form-select mt-2" style="width:120px">
                        <option value="asc">오름차순</option>
                        <option value="desc">내림차순</option>
                    </select>
                </div>
                <div th:if="${postList.size == 0}">시리즈가 없습니다.</div>
                <div style="margin-top:80px" th:if="${postList.size > 0}">
                    <div th:replace="fragments :: post-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">시리즈 삭제</h5>
            </div>
            <div class="modal-body">
                <p class="fw-light">시리즈를 삭제하겠습니까?</p>
                <p class="fw-light">시리즈 안에 들어있는 게시글은 삭제되지 않습니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">닫기</button>
                <form th:action="@{'/blog/' + ${account.id} + '/series/' + ${series.id} + '/delete'}" method="post">
                    <button type="submit" class="btn btn-dark">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script th:replace="fragments :: change-time-ago"></script>
</html>