<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
<div class="w-100 h-100 d-grid">
    <div th:replace="fragments :: main-nav"></div>
    <div class="container" >
        <div class="w-768 mx-auto">
            <div style="margin-top:130px; margin-bottom:40px">
                <h1 th:text="${editor.title}"></h1>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                    <a class="text-dark underline"
                       th:href="@{'/blog/' + ${editor.writer.id} + '/post'}" th:text="${editor.writer.userId}"></a> ⋅
                    <span class="text-muted" th:text="${editor.publishedTime}"></span>
                </div>
                <div class="d-flex" sec:authorize="isAuthenticated()" th:if="${editor.isWriter(#authentication.principal)}">
                    <a class="btn text-muted" th:href="@{'/editor/' + ${editor.writer.id} + '/' + ${editor.url} + '/update'}">수정</a>
                    <a class="btn text-muted" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</a>
                </div>
            </div>
            <div style="margin-bottom: 70px">
                <span class="badge rounded-pill bg-dark me-2" th:each="editorTag : ${editor.editorTags}">
                    <a th:text="${editorTag.tag.value}"></a>
                </span>
            </div>
            <div class="series-chapter position-relative mb-4" th:if="${editorList.size > 0}">
                <div class="bookmark red"></div>
                <div class="bookmark yellow"></div>
                <section>
                    <h4 class="mb-3">
                        <a class="text-muted underline" th:href="@{'/blog/' + ${account.id} + '/series/' + ${editor.series.id}}" th:text="${editor.getSeriesTitle}"></a>
                    </h4>
                    <ol class="series-ol show">
                       <li class="mb-2" th:classappend="${ed.title == editor.title} ? active" th:each="ed, edStat : ${editorList}">
                           <a class="text-dark underline" th:href="@{'/blog/' + ${account.id} + '/view/' + ${ed.url}}" th:text="${ed.title}"></a>
                           <input id="seriesHiddenIdx" type="hidden" th:value="${edStat.index + 1}">
                       </li>
                    </ol>
                    <div class="d-flex align-items-center justify-content-between" style="margin-top:3rem">
                        <span class="series-accordian rotate">숨기기</span>
                        <div>
                            <a th:href="@{'/blog/' + ${account.id} + '/view/' + ${prevPost.url}}" class="btn btn-sm" th:classappend="${#strings.isEmpty(prevPost.url)} ? disabled">prev</a>
                            <a th:href="@{'/blog/' + ${account.id} + '/view/' + ${nextPost.url}}" class="btn btn-sm" th:classappend="${#strings.isEmpty(nextPost.url)} ? disabled">next</a>
                        </div>
                    </div>
                </section>
            </div>
            <div id="viewer"></div>
            <div style="margin-top:16rem;">
                <div class="d-flex align-items-center mb-5">
                    <img class="round" style="width: 150px; height:150px" th:src="${editor.writer.profileImage}" alt="profile-image" />
                    <div class="ms-3">
                        <p class="fw-bold mb-2">
                            <a class="text-dark underline"
                               th:href="@{'/blog/' + ${editor.writer.id} + '/post'}" th:text="${editor.writer.userId}"></a>
                        </p>
                        <p class="fw-light" th:text="${editor.writer.shortDescription}">자기소개</p>
                    </div>
                </div>
                <hr />
            </div>
            <div class="d-flex justify-content-between align-items-center" style="margin-bottom:6rem">
                <div class="post-move">
                    <a th:if="${!#strings.isEmpty(prevPost.url)}" th:href="@{'/blog/' + ${account.id} + '/view/' + ${prevPost.url}}">
                        <div class="post-prev">
                            <p class="fs-8 mb-1">👈 이전 포스트</p>
                            <p th:text="${prevPost.title}"></p>
                        </div>
                    </a>
                </div>
                <div class="post-move ms-3">
                    <a th:if="${!#strings.isEmpty(nextPost.url)}" th:href="@{'/blog/' + ${account.id} + '/view/' + ${nextPost.url}}">
                        <div class="post-next">
                            <p class="fs-8 mb-1">👉 다음 포스트</p>
                            <p th:text="${nextPost.title}"></p>
                        </div>
                    </a>
                </div>
            </div>
            <div style="margin-bottom:5rem">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h6><span id="commentCount" th:text="${editor.commentCount}">0</span>개의 댓글</h6>
                    <div class="d-flex align-items-center">
                        <button class="btn btn-primary" id="likeBtn" th:onclick="like()">
                            <span id="likeCount" class="mx-1" th:text="${editor.likeCount}"></span>
                        </button>
                    </div>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    로그인 후 사용할 수 있습니다.
                </div>
                <div sec:authorize="isAuthenticated()">
                    <textarea id="commentContent" class="form-control mb-4" name="content" style="height:90px" placeholder="댓글을 작성하세요"></textarea>
                    <div class="d-flex justify-content-end">
                        <button type="button" id="createComment" class="btn btn-dark" style="width:120px">댓글 작성</button>
                    </div>
                </div>
            </div>
            <div id="commentTable">
                <div class="comment-table py-4 border-bottom" th:each="comment : ${commentList}">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center mb-4">
                            <img class="round" style="width: 50px; height:50px" th:src="${comment.account.profileImage}" alt="profile-image" />
                            <div class="ms-2">
                                <p class="fw-bold fs-7">
                                    <a class="text-dark underline"
                                       th:href="@{'/blog/' + ${comment.account.id} + '/post'}" th:text="${comment.account.userId}"></a>
                                </p>
                                <p class="text-muted fs-8" th:text="${comment.createdAt}">1시간 전</p>
                                <div class="comment-id" th:text="${comment.id}" hidden="hidden"></div>
                            </div>
                        </div>
                        <div th:if="${comment.account.userId == #authentication.name}">
                            <button class="update-comment-open btn text-muted fs-7">수정</button>
                            <button class="delete-comment btn text-muted fs-7">삭제</button>
                        </div>
                    </div>
                    <div class="comment-content mb-4">
                        <p class="comment-text mb-4" th:text="${comment.content}">댓글 내용</p>
                        <div class="div-reply">
                            <textarea class="comment-ta form-control mb-2" style="height:90px"></textarea>
                            <div class="d-flex justify-content-end">
                                <button class="comment-cancel btn btn-light btn-sm me-2">취소</button>
                                <button class="comment-update btn btn-dark btn-sm">댓글 수정</button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="comment-reply">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                            <span class="ms-2">답글 달기</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">포스트 삭제</h5>
            </div>
            <div class="modal-body">
                <p class="fw-light">포스트를 정말 삭제하겠습니까?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">닫기</button>
                <form method="post" th:action="@{'/editor/delete/' + ${editor.id}}">
                    <button type="submit" class="btn btn-dark">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/dist/toastui-editor-viewer.css">
<script src="https://uicdn.toast.com/tui-editor/dist/toastui-editor-viewer.min.js"></script>

<script th:replace="fragments :: ajax-csrf-header"></script>

<script type="application/javascript" th:inline="javascript">
    $(function() {
        const $mainText = [[${editor.mainText}]];

        new toastui.Editor.factory({
            el : document.querySelector('#viewer'),
            initialValue: $mainText,
            viewer: true
        })

        isLiked();

        $('.div-reply').hide();

        $(document).on('click', '.update-comment-open', function(e) {
            const ct = e.target.closest('.comment-table');
            const dr = $(ct).find('.div-reply');
            const ta = $(dr).find('.comment-ta');
            const ctxt = $(ct).find('.comment-text').html();
            ta.val(ctxt);
            dr.show();
        })

        $('.comment-cancel').click(function(e) {
            const ct = e.target.closest('.comment-table');
            const dr = $(ct).find('.div-reply');
            dr.hide();
        })

        $(document).on('click', '#createComment', function(e) {
            createComment(e);
        })

        $(document).on('click', '.comment-update', function(e) {
            updateComment(e);
        })

        $(document).on('click', '.delete-comment', function(e) {
            deleteComment(e);
        })

        $(document).on('click', '.series-accordian', function() {
            if($('.series-ol').hasClass('show')) {
                $('.series-ol').removeClass('show');
                $('.series-accordian').removeClass('rotate');
                $('.series-accordian').text('목록보기');
            } else {
                $('.series-ol').addClass('show');
                $('.series-accordian').addClass('rotate');
                $('.series-accordian').text('숨기기');
            }
        })

        $('#seriesIdx').text($('#seriesHiddenIdx').val());
    })

    function createComment(e) {
        const content = $('#commentContent').val();
        const url = "/comment/" + [[${editor.url}]] + "/" + [[${editor.writer.id}]] + "/create";
        let commentNumber;

        if(content == '' || content == null) {
            alert("댓글을 작성하세요.");
        } else {
            $.ajax({
                type : 'post',
                contentType: "application/json; charset=utf-8",
                url : url,
                data : JSON.stringify({'content' : content}),
            }).done(function(data, status) {

                let temp = '<div class="py-4 border-bottom comment-table temp">';
                temp += '<div class="d-flex justify-content-between">';
                temp += '<div class="d-flex align-items-center mb-4">';
                temp += '<img class="round" style="width: 50px; height:50px" src="' + data.profileImage + '" alt="profile-image" />';
                temp += '<div class="ms-2">';
                temp += '<p class="fw-bold fs-7">';
                temp += '<a class="text-dark underline" href="/blog/' + data.userId + '/post">' + data.userId + '</a>';
                temp += '</p>';
                temp += '<p class="text-muted fs-8">' + data.createdAt + '</p>';
                temp += '<div class="comment-id" hidden="hidden">' + data.commentId + '</div>';
                temp += '</div>';
                temp += '</div>';
                temp += '<div>';
                temp += '<button class="update-comment-open btn text-muted fs-7">수정</button>';
                temp += '<button class="delete-comment btn text-muted fs-7">삭제</button>';
                temp += '</div>';
                temp += '</div>';
                temp += '<div class="comment-content mb-4"><p class="comment-text mb-4">' + data.content + '</p>';
                temp += '<div class="div-reply">';
                temp += '<textarea class="comment-ta form-control mb-2" style="height:90px"></textarea>';
                temp += '<div class="d-flex justify-content-end">';
                temp += '<button class="comment-cancel btn btn-light btn-sm me-2">취소</button><button class="comment-update btn btn-dark btn-sm">댓글 수정</button></div></div>';
                temp += '<div>';
                temp += '<div class="comment-reply"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span class="ms-2">답글 달기</span></div>';
                temp += '</div>';
                temp += '</div>';

                let $tempEl = $(temp);
                $tempEl.find('.div-reply').hide();
                $('#commentTable').append($tempEl);
                $('#commentContent').val('');

                // 전체 댓글 수 업데이트
                commentNumber = Number($('#commentCount').html());
                commentNumber++;
                $('#commentCount').html(commentNumber);

                // 댓글 생성 후 생성된 댓글로 스크롤
                document.querySelector('.temp').scrollIntoView({behavior: 'smooth'});
            })
        }
    }

    function updateComment(e) {
        const ct = e.target.closest('.comment-table');
        const dr = $(ct).find('.div-reply');
        const ta = $(dr).find('.comment-ta');
        const cId = $(ct).find('.comment-id').html();
        const commentTxt = $(ct).find('.comment-text');
        const updateContent = ta.val();
        const url = "/comment/" + [[${editor.url}]] + "/" + [[${editor.writer.id}]] + "/" + cId + "/update";

        $.ajax({
            type : 'post',
            contentType: "application/json; charset=utf-8",
            url : url,
            data : JSON.stringify({'content' : updateContent}),
        }).done(function(data, status) {
            commentTxt.html(updateContent);
            dr.hide();
        })
    }

    function deleteComment(e) {
        const ct = e.target.closest('.comment-table');
        const cId = $(ct).find('.comment-id').html();
        const url = "/comment/" + [[${editor.url}]] + "/" + [[${editor.writer.id}]] + "/" + cId + "/delete";
        let commentNumber;

        $.ajax({
            type : 'post',
            contentType: "application/json; charset=utf-8",
            url : url
        }).done(function(data, status) {
            ct.remove();

            commentNumber = Number($('#commentCount').html());
            commentNumber--;
            $('#commentCount').html(commentNumber);
        })
    }

    function isLiked() {
        const url = "/" + [[${editor.url}]] + "/" + [[${editor.writer.id}]] + "/isLiked";

        $.ajax({
            type : 'get',
            url : url,
            contentType: "application/json; charset=utf-8",
        }).done(function(isLiked, status) {
            const btn = $('#likeBtn');
            if(isLiked) {
                btn.find('.fa-thumbs-o-up').remove();
                btn.prepend("<i class='fa fa-thumbs-up' aria-hidden='true'></i>");
            } else {
                btn.find('.fa-thumbs-up').remove();
                btn.prepend("<i class='fa fa-thumbs-o-up' aria-hidden='true'></i>");
            }

        })
    }

    function like() {
        const url = "/" + [[${editor.url}]] + "/" + [[${editor.writer.id}]] + "/like";
        let likeNumber = Number($('#likeCount').html());

        $.ajax({
            type : 'post',
            url : url,
            contentType: "application/json; charset=utf-8",
        }).done(function(data, status) {
            if(status == 'success') {
                isLiked();
                $('#likeCount').html(data);
            } else {
                alert('Failed');
            }
        })
    }
</script>

</body>
</html>