<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
    <div class="w-100 h-100 d-grid">
        <div th:replace="fragments :: main-nav"></div>
        <div th:replace="fragments :: write-form (mode = 'new', action = '/editor/write')"></div>
    </div>

    <script src="/js/editor.js"></script>
    <script th:replace="fragments :: ajax-csrf-header"></script>
    <script th:replace="fragments :: write-script"></script>
</body>

</html>