<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
    <div class="w-100 h-100 d-grid">
        <div th:replace="fragments :: main-nav"></div>
        <form class="needs-validation d-grid" th:action="@{/editor/write}" method="post" th:object="${editorForm}" novalidate>
            <div class="container" style="margin-top:58px;">
                <div class="d-grid w-100 h-100">
                    <div class="d-grid" style="grid-template-rows: 1fr 70px;">
                        <div class="p-4 h-100 d-grid" style="grid-template-rows: auto auto auto 1fr auto">
                            <div class="mb-1">
                                <input class="fs-1 fw-bold border-0 w-100 outline-none" th:field="*{title}"
                                       id="editTitle" type="text" placeholder="제목을 입력하세요" />
                            </div>
                            <div class="blank-line"></div>
                            <div class="mb-2">
                                <input class="tagify-outside w-100 outline-none" type="text" name="tags" th:field="*{tags}"
                                       id="tags" placeholder="태그를 입력하세요" />
                            </div>
                            <div id="editor"></div>
                            <textarea id="mainText" hidden="hidden" th:field="*{mainText}"></textarea>
                        </div>
                        <div class="p-3 shadow-footer d-flex justify-content-end border-top">
                            <a id="publishedModalBtn" class="btn btn-dark"
                                    data-bs-toggle="modal" data-bs-target="#publishedModal" style="width:180px">
                                출간하기
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="publishedModal" tabindex="-1" aria-hidden="true" style="--bs-modal-width:100%; --bs-modal-bg:#F8F9FA">
                <div class="modal-dialog d-grid grid-1fr w-100 h-100 m-0">
                    <div class="modal-content" style="border-radius:0">
                        <div class="modal-body w-100 h-100">
                            <div class="d-flex align-items-center justify-content-center w-100 h-100">
                                <div class="d-flex" style="width:768px">
                                    <section style="flex:1 1 0%">
                                        <div class="mb-4">
                                            <h5>포스트 미리보기</h5>
                                            <div id="thumbnailSettingWrap">
                                                <div class="d-flex justify-content-end mb-2">
                                                    <label for="thumbnailReUpload" class="btn btn-light btn-sm me-2">재업로드</label>
                                                    <input type="file" id="thumbnailReUpload" hidden />
                                                    <button id="thumbnailDelete" class="btn btn-light btn-sm">제거</button>
                                                </div>
                                            </div>
                                            <div id="currentThumbnailImage" class="div-thumbnail rounded">
                                                <i class="fa fa-picture-o mb-3 fs-3" aria-hidden="true"></i>
                                                <label class="btn btn-light" for="thumbnailUpload">썸네일 업로드</label>
                                                <input type="file" id="thumbnailUpload" hidden />
                                            </div>
                                            <div id="newThumbnailImage"></div>
                                            <input type="text" id="thumbnailImage" hidden th:field="*{thumbnail}" />
                                        </div>
                                        <div>
                                            <h5>안녕하세요</h5>
                                            <textarea type="text" class="form-control" id="description" th:field="*{description}"
                                                      style="height:110px; font-size:14px;" placeholder="당신의 포스트를 짧게 소개해보세요." required></textarea>
                                        </div>
                                    </section>
                                    <div class="vertical-line"></div>
                                    <section class="d-flex flex-column justify-content-between" style="flex:1 1 0%">
                                        <div>
                                            <div class="mb-4">
                                                <h5>공개 설정</h5>
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="disclosure" th:field="*{disclosure}" checked>
                                                    <label class="form-check-label" for="disclosure">포스팅 공개</label>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <h5>URL 설정</h5>
                                                <div class="d-flex w-100 rounded border" style="padding:0.7rem; background-color:#fff; align-items:center; font-size:14px">
                                                    <span>/</span>
                                                    <input id="url" class="ol-none w-100" type="text" th:field="*{url}" />
                                                </div>
                                                <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></small>
                                            </div>
                                            <div class="mb-4">
                                                <h5>시리즈 설정</h5>
                                                <button class="btn btn-dark btn-block w-100 text-align-center" style="height:48px">
                                                    <i class="fa fa-list" aria-hidden="true"></i> 시리즈 설정하기
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <button class="btn btn-light" data-bs-dismiss="modal" aria-label="Close" style="width:150px">취소</button>
                                            <button type="submit" id="publishedBtn" class="btn btn-dark" style="width:150px">출간하기</button>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--toast-editor는 cdn을 사용해야함... -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css"/>

    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.js"></script>

    <script th:replace="fragments :: ajax-csrf-header"></script>
    <script type="application/javascript">
        $(function() {
            // *************** toast editor **************
            const Editor = toastui.Editor;
            const editor = new Editor({
                el: document.querySelector('#editor'),
                height: '100%',
                initialEditType: 'markdown',
                previewStyle: 'vertical'
            });
            let $mainText = $('#mainText');
            const $publishedBtn = $('#publishedBtn');

            editor.getMarkdown();

            document.querySelector('#mainText').insertAdjacentHTML('afterbegin' ,editor.getHTML());
            $publishedBtn.click(function() {
                $mainText.val(editor.getHTML());
            })

            // ******************************************

            // *************** tagify js ***************
            let input = document.querySelector("#tags");
            new Tagify(input);
            // ******************************************

            const $newThumbnailImage = $('#newThumbnailImage');
            const $currentThumbnailImage = $('#currentThumbnailImage');
            const $thumbnailSettingWrap = $('#thumbnailSettingWrap');
            const $thumbnailDelete = $('#thumbnailDelete');

            let $thumbnailImage = $('#thumbnailImage');

            $newThumbnailImage.hide();
            $thumbnailSettingWrap.hide();

            $("#thumbnailUpload").change(function(e) {
                fn_imageReader(e);
            });

            $("#thumbnailReUpload").change(function(e) {
                fn_imageReader(e);
            })

            $($thumbnailDelete).click(function() {
                $newThumbnailImage.hide();
                $thumbnailSettingWrap.hide();
                $currentThumbnailImage.show();
            })

            /*
            $($publishedBtn).click(function() {
                let param = {
                    title : $editTitle.val(),
                    tags : JSON.parse($tags.val()),
                    mainText : editor.getHTML(),
                    thumbnail : $thumbnailImage,
                    description : $description.val(),
                    disclosure : $disclosure.prop('checked'),
                    url : $url.val()
                }

                fn_publishedRequest(param);
            })
            */

            function fn_imageReader(e) {
                if (e.target.files.length === 1) {
                    const reader = new FileReader();
                    reader.onload = e => {
                        if (e.target.result) {
                            if (!e.target.result.startsWith("data:image")) {
                                alert("이미지 파일을 선택하세요.");
                                return;
                            }

                            let img = document.createElement("img");
                            img.id = 'new-thumbnail';
                            img.src = e.target.result;
                            img.className = 'rounded';
                            img.setAttribute('width', '100%');

                            $newThumbnailImage.html(img);
                            $newThumbnailImage.show();
                            $currentThumbnailImage.hide();
                            $thumbnailSettingWrap.show();

                            $thumbnailImage = reader.result;
                        }
                    }

                    reader.readAsDataURL(e.target.files[0]);
                }
            }

            function fn_publishedRequest(param) {
                $.ajax({
                    method : 'POST',
                    url : '/editor/write',
                    contentType: "application/json; charset=utf-8",
                    dataType : 'json',
                    data : JSON.stringify(param),
                    success : function(data, textStatus, jqXHR) {
                        if (jqXHR.status === 302) {
                            window.location.href = jqXHR.getResponseHeader('Location');
                        }
                    },
                    error : function(jqXHR, textStatus, errorThrown) {
                        console.error('Error:', textStatus, errorThrown);
                    }
                })
            }
        })

    </script>
</body>

</html>