<!DOCTYPE html>
<html lang="en">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>
<body>
<div class="w-100 h-100 d-grid">
    <div th:replace="fragments :: main-nav"></div>
    <div class="container">
        <div class="row py-5 text-center">
            <div class="col-3">
                <ul class="list-group">
                    <a href="#" th:href="@{/notifications}" th:classappend="${isNew}? active"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        읽지 않은 알림
                        <span th:text="${numberOfNotChecked}">3</span>
                    </a>
                    <a href="#" th:href="@{/notifications/old}" th:classappend="${!isNew}? active"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        읽은 알림
                        <span th:text="${numberOfChecked}">0</span>
                    </a>
                </ul>

                <ul class="list-group mt-4">
                    <a href="#" th:if="${commentNotifications.size() > 0}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        댓글 알림
                        <span th:text="${commentNotifications.size()}">3</span>
                    </a>
                    <a href="#" th:if="${likeNotifications.size() > 0}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        좋아요 알림
                        <span th:text="${likeNotifications.size()}">0</span>
                    </a>
                    <a href="#" th:if="${followNotifications.size() > 0}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        팔로우 알림
                        <span th:text="${followNotifications.size()}">0</span>
                    </a>
                </ul>

                <ul class="list-group mt-4" th:if="${numberOfChecked > 0}">
                    <form th:action="@{/notifications/delete}" method="post">
                        <button type="submit" class="btn w-100 btn-outline-dark">
                            읽은 알림 삭제
                        </button>
                    </form>
                </ul>
            </div>

            <div class="col-9">
                <div class="card" th:if="${notifications.size() == 0}">
                    <div class="card-header">
                        알림 메시지가 없습니다.
                    </div>
                </div>

                <div class="card" th:if="${commentNotifications.size() > 0}">
                    <div class="card-header">
                        댓글 알림
                    </div>
                    <div th:replace="fragments.html :: notification-list (notifications=${commentNotifications})"></div>
                </div>

                <div class="card mt-4" th:if="${likeNotifications.size() > 0}">
                    <div class="card-header">
                        좋아요 알림
                    </div>
                    <div th:replace="fragments.html :: notification-list (notifications=${likeNotifications})"></div>
                </div>

                <div class="card mt-4" th:if="${followNotifications.size() > 0}">
                    <div class="card-header">
                        팔로우 알림
                    </div>
                    <div th:replace="fragments.html :: notification-list (notifications=${followNotifications})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>