.container {
    max-width: 100%;
    margin-top:58px;
    padding-bottom:70px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}


body, html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none !important;
}

a.form-text:hover {
    text-decoration: underline !important;
}

ul {
    padding-left: 0 !important;
}

ul li {
    list-style-type: none;
}

body,
input,
button,
select,
optgroup,
textarea,
.tooltip,
.popover {
    font-family: -apple-system, BlinkMacSystemFont, "Noto Sans KR", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

table th {
    font-weight: lighter;
}

a.underline:hover {
    text-decoration: underline !important;
}

p {
    margin:0 !important;
}

.fs-7 {
    font-size:0.85rem;
}

.fs-8 {
    font-size:0.75rem;
}

.round {
    border-radius: 50%;
}

.ol-none {
    outline:none !important;
    border:none !important;
}

#mainNav {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    background-color: #fff;
}

.nav-item a {
    color:#000 !important;
}

.shadow-footer {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.shadow-effect {
    transition:0.2s ease;
}

.shadow-effect:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dropdown-toggle::after {
    display:none !important;
}

.blog-nav .nav-item {
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.blog-nav .nav-item .nav-link {
    width:128px;
    height:48px;
    font-size:19px;
}

.blog-nav .nav-item .nav-link.active {
    color:#20c997 !important;
    border-bottom:2px solid #20c997;
}

.outline-none:focus,
.outline-none:active {
    border: none !important;
    outline: none !important;
}

.tagify-outside {
    border:none !important;
}

.blank-line {
    background: rgb(73, 80, 87);
    height: 6px;
    width: 4rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index:10;
}

.grid-1fr {
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;
}

.div-thumbnail {
    width:100%;
    height:190px;
    padding:1.4rem;
    background-color: #e5e8ec;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vertical-line {
    width:1px;
    min-height: 425px;
    margin:0 2rem;
    padding:0 !important;
    background-color: #d0d0d5;
}

#viewer .toastui-editor-contents {
    font-size:16px;
}

.badge {
    --bs-badge-padding-y: 0.5rem !important;
    font-weight:200 !important;
}

.tag-list {
    position:absolute;
    top:0;
    left:-220px;
    width:180px;
}

.tag-list ul li {
    margin-bottom: 0.3rem;
}

.comment-content {
    line-height: 1.7;
    word-break: break-all;
    overflow-wrap: break-word;
}

.comment-reply {
    display:inline-flex;
    align-items: center;
    cursor: pointer;
}

.series-list {
    height:16.5rem;
    overflow-y:auto;
    background-color: #fff;
}

.series-list li {
    padding:0.6rem 0.8rem;
    font-size:0.8rem;
    background-color: #fff;
    color:#000;
}

.series-list li.active {
    background-color: #007bff;
    color:#fff;
}

.div-series {
    display:grid;
    grid-gap:32px;
    grid-template-columns:repeat(2,calc(50% - (32px * 1/2)));
}

.series-no-image {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#e5e8ec;
    width:100%;
    height:193px;
}

.series-label {
    display:inline-flex;
    border-bottom: 4px solid #20c997;
    font-size: 1.125rem;
    font-weight: bold;
    color: #20c997;
    line-height: 1.5;
}

.post-info {
    flex:1 1 0%;
    min-width: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
}