<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <title>sonakbi</title>
    <!--<link rel="stylesheet" th:href="@{/css/tailwind-out.css}" />-->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css" />
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css"/>
    <link rel="stylesheet" href="/css/styles.css" />

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.js"></script>
    <script src="/node_modules/htmx.org/dist/htmx.min.js"></script>

</head>

<nav th:fragment="main-nav" id="mainNav" class="navbar navbar-expand-sm px-4 border border-bottom">
    <a class="navbar-brand d-flex align-items-center" th:href="@{/}">
        <h4 class="nanum-myeongjo-regular text-black mb-0">조용히완전히영원히.</h4>
    </a>
    <div class="collapse navbar-collapse">
        <div class="me-auto"></div>
        <ul class="navbar-nav me-2">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{/}">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <div class="me-3">
            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-dark fs-7">
                시작하기
            </a>
            <a sec:authorize="isAuthenticated()" th:href="@{/editor/write}" class="btn btn-dark fs-7 text-white">
                새 글 작성
            </a>
        </div>
        <div sec:authorize="isAuthenticated()" class="dropdown">
            <a class="dropdown-toggle d-block" href="#" data-bs-toggle="dropdown"
               style="width:37px; height:37px">
                <img class="w-100 h-100 round shadow-effect" th:src="${account?.profileImage}" alt="profile-image" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                <li>
                    <span class="text-secondary fs-7 dropdown-item" th:text="${account?.userId}">사용자</span>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{'/blog/' + ${account?.id} + '/post'}">내 블로그</a>
                </li>
                <li>
                    <a class="dropdown-item" th:href="@{/profile}">내 정보 수정</a>
                </li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="dropdown-item" th:href="@{/logout}">로그아웃</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="py-5 d-flex align-items-center" th:fragment="about">
    <img class="round" style="width: 180px; height:180px" th:src="${accountInfo?.profileImage}" alt="profile-image" />
    <div class="ms-3">
        <p class="fs-4 fw-bold mb-2" th:text="${accountInfo.userId}">아이디</p>
        <a class="fs-7 fw-light mb-4 text-primary" th:text="${accountInfo.url}" th:attr="href=${accountInfo.url}" target="_blank">url</a>
        <p class="fs-6 fw-light" th:text="${accountInfo.shortDescription}">자기소개</p>
    </div>
</div>

<div th:fragment="follow-count">
    <div class="d-flex justify-content-end mb-3">
        <div class="me-2">
            <a th:href="@{'/blog/' + ${accountInfo.id} + '/follower'}"
               class="text-dark fw-light"><span th:text="${followerCount}" class="fw-bold">0</span> 팔로워</a>
        </div>
        <div>
            <a th:href="@{'/blog/' + ${accountInfo.id} + '/following'}"
               class="text-dark fw-light"><span th:text="${followingCount}" class="fw-bold">0</span> 팔로잉</a>
        </div>
    </div>
</div>

<div th:fragment="follow">
    <div th:if="${!accountInfo.isWriter(#authentication.principal)}">
        <div class="d-flex justify-content-end">
            <button class="btn btn-sm btn-outline-dark btn-follow"
                    th:if="${!isFollowing}"
                    th:accountId="${account.id}" th:accountInfoId="${accountInfo.id}"
                    th:onclick="follow(this, this.getAttribute('accountId'), this.getAttribute('accountInfoId'))">
                팔로우
            </button>
            <button class="btn btn-sm btn-dark btn-follow"
                    th:if="${isFollowing}"
                    th:accountId="${account.id}" th:accountInfoId="${accountInfo.id}"
                    th:onclick="follow(this, this.getAttribute('accountId'), this.getAttribute('accountInfoId'))">
                언팔로우
            </button>
        </div>
    </div>
</div>

<script type="application/javascript" th:fragment="ajax-follow" th:inline="javascript">
    function follow(e, accountId, accountInfoId) {
        let url = '/' + accountId + '/follow/' + accountInfoId;

        if($(e).text().trim() === '팔로우') {
            const url = '/' + accountId + '/follow/' + accountInfoId;
            ajaxFollow(url, $(e));
        } else {
            const url = '/' + accountId + '/unfollow/' + accountInfoId;
            ajaxFollow(url, $(e));
        }
    }

    function ajaxFollow(url, target) {
        $.ajax({
            url : url,
            type : 'post',
            success : function(response) {
                if(target.text().trim() === '팔로우') {
                    target.text('언팔로우');
                    target.removeClass('btn-outline-dark');
                    target.addClass('btn-dark');
                } else {
                    target.text('팔로우');
                    target.removeClass('btn-dark');
                    target.addClass('btn-outline-dark');
                }
            },
            error : function(xhr) {
                alert("오류가 발생했습니다: " + xhr.statusText);
            }
        })
    }
</script>

<div th:fragment="blog-menu (curMenu)">
    <ul class="nav justify-content-center blog-nav">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${curMenu == 'post'} ? active"
               th:href="@{'/blog/' + ${accountInfo.id} + '/post'}">글</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${curMenu == 'series'} ? active"
               th:href="@{'/blog/' + ${accountInfo.id} + '/series'}">시리즈</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${curMenu == 'about'} ? active"
               th:href="@{'/blog/' + ${accountInfo.id} + '/about'}">소개</a>
        </li>
    </ul>
</div>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<script type="application/javascript" th:inline="javascript" th:fragment="htmx-csrf-header">
    document.body.addEventListener("htmx:configRequest", function (evt) {
        evt.detail.headers["accept"] = "text/html-partial";

        if (evt.detail.verb !== "get") {
            const csrfHeaderName = document
                .querySelector("meta[name='_csrf_header']")
                .getAttribute("content");
            evt.detail.headers[csrfHeaderName] = document
                .querySelector("meta[name='_csrf']")
                .getAttribute("content");
        }
    });
</script>

<div th:fragment="date-time">
    <script src="/node_modules/moment/min/moment-with-locales.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLL');
            });
            $(".date").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LL');
            });
            $(".weekday").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('dddd');
            });
            $(".time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
            });
            $(".calendar").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").calendar();
            });
            $(".fromNow").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".date-weekday-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
</div>

<div th:fragment="change-time-ago">
    <script src="/node_modules/moment/min/moment-with-locales.js"></script>
    <script type="application/javascript">
        $(function() {
            let btList = document.querySelectorAll('.before-time');

            btList.forEach((el) => {
                let time = changeToDate($(el).html());
                $(el).html(time);
            })

            function changeToDate(datetime) {
                // 오늘 날짜
                let now = moment(new Date())
                // 오늘과의 시간 차이
                let duration = moment.duration(now.diff(datetime))
                // 변환
                // asSeconds 를 하면 오늘과의 시간차이를
                // 초단위로 float datatype 으로 보여준다 (3.82 이런식)
                let seconds = duration.asSeconds()
                let minute = duration.asMinutes()
                let hours = duration.asHours()
                let days = duration.asDays()
                let weeks = duration.asWeeks()
                let month = duration.asMonths()
                let year = duration.asYears()

                // 그래서 사용할 때는 parseInt 를 사용해 int 로 바꿔야 한다.
                if (minute < 1) {
                    // 1분 미만이면 초 단위로 보여주고,
                    return parseInt(seconds) + '초 전'
                } else if (hours < 1) {
                    // 1시간 미만이면 분 단위로 보여주고
                    return parseInt(minute) + '분 전'
                } else if (hours < 24) {
                    // 하루 미만이면 시간으로 보여주고
                    return parseInt(hours) + '시간 전'
                } else if (weeks < 1) {
                    // 일주일 미만이면 일 단위로 보여주고
                    return parseInt(days) + '일 전'
                } else if (month < 1) {
                    // 한 달 미만이면 주 단위로 보여주고
                    return parseInt(weeks) + '주 전'
                } else if (year < 1) {
                    // 1년 미만이면 달 단위로 보여주고
                    return parseInt(month) + '달 전'
                } else {
                    // 1년 이상이면 넌 단위로 보여주고
                    return parseInt(year) + '년 전'
                }
            }
        })
    </script>
</div>

<div class="d-grid" style="padding-top:58px" th:fragment="write-form (mode, action)">
    <form id="writeForm" class="needs-validation d-grid" th:action="@{${action}}" method="post" th:object="${editorForm}" novalidate>
        <div >
            <div class="d-grid w-100 h-100">
                <div class="d-grid" style="grid-template-rows: 1fr 70px;">
                    <div class="p-4 h-100 d-grid" style="grid-template-rows: auto auto auto 1fr auto">
                        <div class="mb-1">
                            <input class="fs-1 fw-bold border-0 w-100 outline-none" th:field="*{title}"
                                   id="editTitle" type="text" placeholder="제목을 입력하세요" />
                        </div>
                        <div class="blank-line"></div>
                        <div class="mb-2">
                            <input class="tagify-outside w-100 outline-none" type="text" name="tags" th:field="*{tags}"
                                   id="tags" placeholder="태그를 입력하세요" />
                        </div>
                        <div id="editor"></div>
                        <textarea id="mainText" hidden="hidden" th:field="*{mainText}"></textarea>
                    </div>
                    <div class="p-3 shadow-footer d-flex justify-content-between border-top">
                        <a href="javascript:window.history.back()" class="btn btn-light" style="width:180px">
                            나가기
                        </a>
                        <a id="publishedModalBtn" class="btn btn-dark"
                           data-bs-toggle="modal" data-bs-target="#publishedModal" style="width:180px">
                            출간하기
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="publishedModal" tabindex="-1" aria-hidden="true" style="--bs-modal-width:100%; --bs-modal-bg:#F8F9FA">
            <div class="modal-dialog d-grid grid-1fr w-100 h-100 m-0">
                <div class="modal-content" style="border-radius:0">
                    <div class="modal-body w-100 h-100">
                        <div class="d-flex align-items-center justify-content-center w-100 h-100">
                            <div class="d-flex" style="width:768px">
                                <section style="flex:1 1 0%">
                                    <div class="mb-4">
                                        <h5>포스트 미리보기</h5>
                                        <div id="thumbnailSettingWrap">
                                            <div class="d-flex justify-content-end mb-2">
                                                <label for="thumbnailReUpload" class="btn btn-light btn-sm me-2">재업로드</label>
                                                <input type="file" id="thumbnailReUpload" hidden />
                                                <button id="thumbnailDelete" class="btn btn-light btn-sm">제거</button>
                                            </div>
                                        </div>
                                        <div id="currentThumbnailImage" class="div-thumbnail rounded">
                                            <i class="fa fa-picture-o mb-3 fs-3" aria-hidden="true"></i>
                                            <label class="btn btn-light" for="thumbnailUpload">썸네일 업로드</label>
                                            <input type="file" id="thumbnailUpload" hidden />
                                        </div>
                                        <div id="newThumbnailImage"></div>
                                        <input type="text" id="thumbnailImage" hidden th:field="*{thumbnail}" />
                                    </div>
                                    <div>
                                        <h5 id="modalTitle"></h5>
                                        <textarea type="text" class="form-control" id="description" th:field="*{description}"
                                                  style="height:110px; font-size:14px;" placeholder="당신의 포스트를 짧게 소개해보세요." required></textarea>
                                    </div>
                                </section>
                                <div class="vertical-line"></div>
                                <section id="rightSection" style="flex:1 1 0%">
                                    <div class="d-flex flex-column justify-content-between h-100">
                                        <div>
                                            <div class="mb-4">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h5 class="mb-0">공개 설정</h5>
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input" type="checkbox" role="switch" id="disclosure" th:field="*{disclosure}">
                                                        <label class="form-check-label" for="disclosure">포스팅 공개</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-4">
                                                <h5>URL 설정</h5>
                                                <div class="d-flex w-100 rounded border" style="padding:0.7rem; background-color:#fff; align-items:center; font-size:14px">
                                                    <span>/</span>
                                                    <input id="url" class="ol-none w-100" type="text" th:field="*{url}" />
                                                </div>
                                                <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></small>
                                            </div>
                                            <div class="mb-4">
                                                <h5>시리즈 설정</h5>
                                                <button type="button" id="seriesOpenBtn" class="btn btn-dark btn-block w-100 text-align-center" style="height:48px">
                                                    <i class="fa fa-list" aria-hidden="true"></i> 시리즈 설정하기
                                                </button>
                                                <div id="seriesForm">
                                                    <div class="input-group">
                                                        <input type="text" id="series" class="form-control fs-7" th:field="*{series}" readonly />
                                                        <div class="input-group-append">
                                                            <button id="seriesSettingBtn" class="btn btn-dark" type="button">
                                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-end mt-2">
                                                        <button type="button" id="seriesResetBtn" class="btn btn-sm p-0">시리즈에서 제거</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <a class="btn btn-light me-1" data-bs-dismiss="modal" aria-label="Close" style="width:150px">취소</a>
                                            <button th:if="${mode == 'new'}" type="submit" id="publishedBtn" class="btn btn-dark" style="width:150px">출간하기</button>
                                            <button th:if="${mode == 'mod'}" type="submit" id="publishedBtn" class="btn btn-dark" style="width:150px">수정하기</button>
                                        </div>
                                    </div>
                                </section>
                                <section id="seriesSection" style="flex:1 1 0%">
                                    <h5>시리즈 설정</h5>
                                    <div class="d-flex flex-column" style="flex:1 1 0%;">
                                        <div class="mb-3">
                                            <div class="p-3" style="background-color: #e5e8ec">
                                                <div class="d-flex w-100 rounded border" style="padding:0.4rem; background-color:#fff; align-items:center; font-size:12px">
                                                    <span>/</span>
                                                    <input id="seriesInput" class="ol-none w-100" type="text" placeholder="새로운 시리즈를 추가하세요." />
                                                </div>
                                                <div id="seriesBtnGroup" class="mt-2">
                                                    <div class="d-flex justify-content-end">
                                                        <button type="button" id="seriesAddCancelBtn" class="btn btn-sm me-2">취소</button>
                                                        <button th:if="${mode == 'new'}" type="button" id="seriesNewBtn" class="btn btn-sm btn-dark">시리즈 추가</button>
                                                        <button th:if="${mode == 'mod'}" type="button" id="seriesModBtn" class="btn btn-sm btn-dark">시리즈 추가</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="mb-0 series-list">
                                                <li class="border-bottom" th:each="series : ${seriesList}">
                                                    <span th:text="${series.title}"></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button type="button" id="seriesSelectCancelBtn" class="btn me-2">취소</button>
                                            <button type="button" id="seriesSelectBtn" class="btn btn-dark">선택하기</button>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script th:fragment="write-script">
    $(function() {

        // *************** tagify js ***************
        let input = document.querySelector("#tags");
        new Tagify(input);
        // ******************************************

        $('#publishedModal').on('show.bs.modal', function(evt) {
            let isEmpty = $('#editTitle').val() == '';
            if(isEmpty) {
                alert('제목을 입력하세요.');
                evt.preventDefault();
            }

            const $editTitle = $('#editTitle').val();
            $('#modalTitle').text($editTitle);
        })

        // form 에서 enter submit event 막기
        document.getElementById('writeForm').addEventListener('keydown', function(e) {
            if(e.key === 'Enter') {
                e.preventDefault();
            }
        })

        const $newThumbnailImage = $('#newThumbnailImage');
        const $currentThumbnailImage = $('#currentThumbnailImage');
        const $thumbnailSettingWrap = $('#thumbnailSettingWrap');
        const $thumbnailDelete = $('#thumbnailDelete');

        let $thumbnailImage = $('#thumbnailImage');

        $newThumbnailImage.hide();
        $thumbnailSettingWrap.hide();

        $("#thumbnailUpload").change(function(e) {
            fn_imageReader(e);
        });

        $("#thumbnailReUpload").change(function(e) {
            fn_imageReader(e);
        })

        $($thumbnailDelete).click(function() {
            $newThumbnailImage.hide();
            $thumbnailSettingWrap.hide();
            $currentThumbnailImage.show();
        })

        if($thumbnailImage[0].value.length > 0) {
            let img = document.createElement("img");
            img.id = 'new-thumbnail';
            img.src = $thumbnailImage[0].value;
            img.className = 'rounded';
            img.setAttribute('width', '100%');

            $newThumbnailImage.html(img);
            $newThumbnailImage.show();
            $currentThumbnailImage.hide();
            $thumbnailSettingWrap.show();
        }

        function fn_imageReader(e) {
            if (e.target.files.length === 1) {
                const reader = new FileReader();
                reader.onload = e => {
                    if (e.target.result) {
                        if (!e.target.result.startsWith("data:image")) {
                            alert("이미지 파일을 선택하세요.");
                            return;
                        }

                        let img = document.createElement("img");
                        img.id = 'new-thumbnail';
                        img.src = e.target.result;
                        img.className = 'rounded';
                        img.setAttribute('width', '100%');

                        $newThumbnailImage.html(img);
                        $newThumbnailImage.show();
                        $currentThumbnailImage.hide();
                        $thumbnailSettingWrap.show();

                        $thumbnailImage.val(reader.result);
                    }
                }

                reader.readAsDataURL(e.target.files[0]);
            }
        }

        let $series = $('#series');
        $('#seriesSection').hide();
        $('#seriesBtnGroup').hide();
        $('#seriesForm').hide();

        $('#seriesOpenBtn').on('click', function() {
            $('#rightSection').hide();
            $('#seriesSection').show();
            $('.series-list li').siblings().removeClass('active');
        })

        $('#seriesInput').on('input', function() {
            let inputValue = $(this).val();

            if(inputValue.length === 0) {
                $('#seriesBtnGroup').hide();
            }

            if(inputValue.length > 0) {
                $('#seriesBtnGroup').show();
            }
        })

        $('#seriesNewBtn').on('click', function() {
            const seriesName = $('#seriesInput').val();
            if(seriesName !== '') {
                createSeries(seriesName);
            } else {
                alert('시리즈를 입력하세요.');
            }
        })

        $('#seriesModBtn').on('click', function() {
            const seriesName = $('#seriesInput').val();
            if(seriesName !== '') {
                updateSeries(seriesName);
            } else {
                alert('시리즈를 입력하세요.');
            }
        })

        $('#seriesAddCancelBtn').on('click', function() {
            $('#seriesBtnGroup').hide();
        })

        $(document).on('click', '.series-list li', function() {
            $('.series-list li').removeClass('active');
            $(this).addClass('active');
        })

        $('#seriesSelectCancelBtn').on('click', function() {
            $('#rightSection').show();
            $('#seriesSection').hide();
        })

        $(document).on('click', '#seriesSelectBtn', function() {
            const $seriesText = $('.series-list li.active').text().trim();

            $('#rightSection').show();
            $('#seriesSection').hide();
            $('#seriesOpenBtn').hide();
            $('#seriesForm').show();
            $series.val($seriesText);
        })

        $('#seriesResetBtn').on('click', function() {
            $series.val();
            $('#seriesOpenBtn').show();
            $('#seriesForm').hide();
        })

        $('#seriesSettingBtn').on('click', function() {
            $('#rightSection').hide();
            $('#seriesSection').show();
        })

        if($series.val() != '') {
            $('#seriesOpenBtn').hide();
            $('#seriesForm').show();
        }
    })

    function createSeries(seriesName) {
        const url = "/series/create";
        let arr = [];

        $('.series-list li').each(function(idx, el) {
            const $el = $(el).find('span').text();
            arr.push($el);
        })

        let isFound = arr.some(x => x === seriesName);

        if(!isFound) {
            $.ajax({
                type : 'post',
                url : url,
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify({"title" : seriesName})
            }).done(function(data, status) {
                let temp = '<li class="border-bottom">';
                temp += '<span>' + data + '</span></li>';
                $('.series-list').append(temp);
                $('#seriesInput').val('');
            })
        } else {
            alert("존재하는 시리즈입니다.");
        }
    }

    function updateSeries(seriesName) {
        const url = "/series/update";
        let arr = [];

        $('.series-list li').each(function(idx, el) {
            const $el = $(el).find('span').text();
            arr.push($el);
        })

        let isFound = arr.some(x => x === seriesName);

        if(!isFound) {
            $.ajax({
                type : 'post',
                url : url,
                contentType: "application/json; charset=utf-8",
                data : JSON.stringify({"title" : seriesName})
            }).done(function(data, status) {
                let temp = '<li class="border-bottom">';
                temp += '<span>' + data + '</span></li>';
                $('.series-list').append(temp);
                $('#seriesInput').val('');
            })
        } else {
            alert("존재하는 시리즈입니다.");
        }
    }
</script>

<div id="postList" th:fragment="post-list">
    <div class="mb-5" th:each="post, postStat : ${postList}">
        <h4 class="mb-3">
            <a class="text-dark underline" th:href="@{'/blog/' + ${accountInfo.id} + '/view/' + ${post.url}}">
                <span class="fs-2 text-muted fst-italic"><span th:text="${postStat.count}"></span>.</span>
                <span th:text="${post.title}"></span>
            </a>
        </h4>
        <section class="d-flex" style="height:6.25rem">
            <a class="text-dark" th:if="${#strings.isEmpty(post.thumbnail)}" th:href="@{'/blog/' + ${accountInfo.id} + '/view/' + ${post.url}}">
                <div class="d-flex justify-content-center align-items-center" style="width:12rem; height:6.25rem; background-color:#e5e9f0">
                    <i class="fa fa-picture-o fs-3" aria-hidden="true"></i>
                </div>
            </a>
            <a th:if="${!#strings.isEmpty(post.thumbnail)}" class="d-block" th:href="@{'/blog/' + ${account.id} + '/view/' + ${post.url}}"
               style="width:12rem; height:6.25rem; object-fit: cover;">
                <img class="w-100 h-100" th:src="${post.thumbnail}" alt="thumbnail" />
            </a>
            <div class="post-info">
                <div th:if="${!#strings.isEmpty(post.description)}">
                    <p th:text="${post.description}"></p>
                </div>
                <div th:if="${#strings.isEmpty(post.description)}">
                    <p th:utext="${post.mainText}"></p>
                </div>
                <p class="fs-7 fw-light" th:text="${post.publishedTime}"></p>
            </div>
        </section>
    </div>
</div>

</html>